<h2>Users<h2>


<h5><%= link_to "ADD NEW USER",users_path,class:"nav-link"%></h5>
<!--

<h1>Articles</h1>
<ul>
<li><a><%= link_to "My Rails Journey",users_path,class:"nav-link"%></a></li>
<li><a><%= link_to "A article",users_path,class:"nav-link"%></a></li>
</ul>

<p><a><%= link_to "New Article",users_path,class:"nav-link"%></a><p>

-->