<h2>Users<h2>


<h5><%= link_to "ADD NEW USER",users_path,class:"nav-link"%></h5>


<!--<h1>Articles</h1>
<ul>
<li><a>My Rails Journey</a></li>
<li><a>A blog app</a></li>
</ul>

<h4><a>New Article</a><h4>   -->